{% extends 'SpxMainBundle:Habillage:habillage.html.twig' %}

{% block modele %}

<h2> HABILLAGE EN BÉTON CIRÉ POUR MODÈLE TOPDEC</h2>
<h5>Cet habillage occupe en toute légèreté l'espace
dans des cheminées de grande taille.</h5>
<h5>Il se marie aussi bien avec le
contemporain qu'avec l'ancien et l'aspect rendu par le béton ciré lui
confère un positionnement très tendance.</h5>
<div align="center">
	<img src="{{ asset('img/Habillages/Habillage-beton-jardin.jpg') }}">
	<p>Habillage sur table à des fins de présentation<br/>
	<small><small>(<small> en réalité il doit toujours être fixé au bâti ou quasi-fixé dans un endroit sans aucun risque de mouvement </small>)</small></small></p>
</div>

<div align="center">
	<div class="photo_vs_video" style="display: inline-block">
		<img style="width: 320px; height: 240px;" alt="nuancier cheminée" src="{{ asset('img/Habillages/Nuancier-beton.jpg') }}"/>
		<p>Nuancier<br>
		<small><small><small>Les teintes sont susceptibles de légères variations car chaque <br /> habillage est réalisé à la main et à la commande.</small></small></small></p>
	</div>
	<div class="photo_vs_video" style="display: inline-block">
		<img style="width: 320px; height: 240px;" alt="nuancier cheminée" src="{{ asset('img/Habillages/Nuancier-beton.jpg') }}"/>
		<p>Nuancier<br>
		<small><small><small>Les teintes sont susceptibles de légères variations car chaque <br /> habillage est réalisé à la main et à la commande.</small></small></small></p>
	</div>
</div>
{% endblock %}