{% extends 'SpxMainBundle:Habillage:habillage.html.twig' %}

{% block modele %}


<h2> Habillage standard du bruleur bio-éthanol TOPDEC</h2>
<h4>SPARXS propose un habillage standard en inox pour
ceux qui souhaitent par exemple passer leur système à l'éthanol d'une cheminée à une autre</h4><br /><br />
<div style="text-align:center"><img style="width:60%" alt="cheminee ethanol" src="{{asset('img/Habillages/WTN fentes longues.jpg')}}" /></div>
<h5 style="text-align: center">Cet habillage est réalisé dans un inox brossé de très belle qualité dont le pourtour est peint en noir.<br/></h5>
<h5 style="text-align: center;">Ses dimensions hors tout sont 536 mm (L) x 276 mm (P) x 118 mm (H)</h5>
<br />
<div style="text-align:center"><img style="width:60%" alt="habillage brûleur ethanol" alt="Cheminée inutilisée" src="{{asset('img/Habillages/Habillage a fentes grand.jpg')}}" /></div>
<h5 style="text-align: center">Habillage du bruleur bio-éthanol TOPDEC sur table à des fins de présentation</h5><br />
<h6>(en réalité il doit toujours être fixé au bâti ou quasi-fixé </br>
  dans un endroit sans aucun risque de mouvement </h6>

{% endblock %}