{% extends 'SpxMainBundle:Default:index.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block body %}

<div class="container bs-docs-container" style="border: solid 1px #C8C8C8">

    <div class="row">
        <div class="col-md-12" style="background-color: rgb(92,96,99); height: 150px; margin-top: -20px;">
            <h1 align="center" style="color:white; padding-top: 30px;">Où trouver des bruleurs Sparxs ?</h1>
            <h3 align="center" style="color:white;">Contactez nous au 09 81 74 74 74</h3>
        </div>
    </div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h3>Particuliers- Vous cherchez un brûleur Sparxs près de chez vous ou souhaitez des renseignements complémentaires:</h3>
			<p></p>
			<p>N'hésitez pas à nous contacter au: <big><b>09 81 74 74 74</b></big> <small> (prix d'un appel local)</small></p>
			
			<h3>Professionels - Vous souhaitez intégrer Sparxs à votre gamme ?</h3>
			<p>Si vous voulez intégrer nos brûleurs SPARXS à vos cheminées de décorations.</p>
			<p>Si vous voulez distribuer nos brûleurs ou cheminées à vos clients.</p>
			<p>Veuillez prendre contact directement avec <strong>Jean Gatellier en passant par notre standard <br> au <big><b>09 81 74 74 74</b></big> <small> (prix d'un appel local)</small> </strong> ou par email à contact@sparxs.fr</p>
			<p align="center"><big><a href="mailto:contact@sparxs.fr">contact@sparxs.fr</a></big></p>
			<h3>Journalistes - Vous souhaitez parler de Sparxs ?</h3>
			<p>Vous souhaitez plus de détails sur nos brûleurs et la sécurité.</p>
			<p>Vous souhaitez parler d'une belle entreprise industrielle 100% française.</p>
			<p>Contactez directement <strong>Jean Gatellier au <big><b>09 81 74 74 74</b></big></strong></p>
		</div>
	</div>
</div>

{% endblock %}