{% extends 'SpxMainBundle:Default:index.html.twig' %}

{% block title %}Mention légale{% endblock %}

{% block body %}

<div id="news-container" class="container bs-docs-container">

    <div class="row">
        <div class="col-md-12" id="bandeau">
            <h1></h1>
        </div>
    </div>

    <div class="row" style="margin-bottom: 20px">
		<div class="col-md-8 col-md-offset-2">
			<h2 align="center">Mentions légales</h2>
			<p><b>SPARXS</b></p>
			<p><b>15 rue Gudin - 75016 Paris</b></p>
			<p><b>Tél. : 09 81 74 74 74</b></p>
			<br>
			<p><b>N° Siret: 494 968 043 00013 SAS au capital de 365 425 €</b></p>
			<p>Directeur de la publication: Patrice Marcilhacy</p>
		</div>
    </div>
</div>

{% endblock %}