{% extends 'SpxMainBundle:Securite:securite.html.twig' %}

{% block modele %}

<div>
	<h2>Cheminée sans conduit bio-éthanol et assurance</h2>
	<p> Fin 2008, la Commission de Sécurité des Consommateurs (Organisme sous contrôle gouvernemental incluant des Associations de Consommateurs, des organismes professionnels et des experts) émettait&nbsp;un avis très défavorable sur&nbsp; la sécurité des cheminées à l'éthanol alors sur le marché, c'est à dire celles dont le brûleur était constitué d'un simple réservoir que l'on remplit d'éthanol et dans lequel on enflamme le combustible à travers une trappe.</p>
	<p>Cet avis énumérait les différentes sécurités à mettre en place pour arriver à des produits sûrs et demandait aux instances normatives de produire au plus vite une norme &nbsp;sur ces produits.</p>
	<p>En parallèle, Luc Chatel, alors Secrétaire d'Etat à l'Industrie, rappelait dans une circulaire gouvernementale&nbsp;aux fabricants, importateurs et&nbsp;revendeurs de ces cheminées et blocs de combustion à l'éthanol leurs obligations en matière de sécurité, comme suit:</p>
	<p style="font-style: italic;">Par conséquent, en application de l&#8217;article L. 221-7 du code de la consommation, le secrétaire d&#8217;Etat chargé de l&#8217;industrie et de la consommation, porte-parole du Gouvernement, <span style="color: red;">alerté de la présence sur le marché français d&#8217;appareils susceptibles de ne pas présenter la sécurité à laquelle on peut légitimement s&#8217;attendre</span>, met en garde les fabricants, importateurs et distributeurs de ces appareils, contre les risques d&#8217;intoxication, de brûlures et d&#8217;incendie liés à leur principe de fonctionnement et aux caractéristiques du combustible utilisé, et leur demande de mettre ces appareils en conformité avec les règles de sécurité.. En particulier, il est rappelé aux fabricants, importateurs et distributeurs, que leurs produits doivent être conçus, fabriqués et équipés des dispositifs de sécurité nécessaires de manière à prévenir les risques d'intoxication, notamment par le monoxyde de carbone, de brûlures et d'incendie.</p>
	<p>Depuis, les instances normatives ont publié, en aout 2009, la Norme "D35-386: &nbsp; Exigences de sécurité et méthode d'essais" à laquelle les brûleurs à l'éthanol SPARXS se conforment strictement. Le décret rendant cette norme obligatoire a d'abord été publié en juin 2010 pour les lieux publics;&nbsp;en cas d'accident chez un particulier avec une cheminée sans conduit au bio éthanol sans les sécurités correspondantes,&nbsp;les textes officiels mentionnés ci dessus laissent entier le problème de la couverture par les assurances.
	</p>
</div>

{% endblock %}