{% extends 'SpxMainBundle:Securite:securite.html.twig' %}

{% block modele %}

<div class="panneau_principal">
	<h2>Contrôle parental</h2>
	<img style="width: 300px; height: 195px; float: right; margin-right: -15px; margin-left: 20px; margin-top: 20px;" alt="cheminée éthanol" src="{{ asset('img/Securite/Boitier-pile-main.jpg') }}" />
	<p>Certains parents souhaitent que leurs enfants ou des proches ne puissent pas allumer un feu en leur absence.</p>
	<p>C'est pourquoi, les brûleurs Sparxs sont équipés de <span style="color: red;">boîtiers support de piles amovibles</span> spécifiques. Une fois ce support retiré un simple clic, il est impossible à une autre personne de placer des piles directement dans l'appareil pour le faire fonctionner.</p>
	<p>C'est la plus simple et la meilleure sécurité contre une utilisation non désirée en votre absence.</p>
</div>

{% endblock %}