{% extends 'SpxMainBundle:Securite:securite.html.twig' %}

{% block modele %}

<div class="panneau_principal">
	<h2>Qualité de combustion de l'éthanol</h2>
	<p>La Norme D35-386 exige pour des raisons de sécurité une bonne qualité de combustion du bio éthanol afin d'éviter le dégagement de monoxyde de carbone (CO) ou de Composés Organiques Volatiles (COV).</p>
	<p>Pour répondre à cette&nbsp;exigence Sparxs amène l'éthanol à proximité de la surface avec&nbsp;une pompe; il en résulte un effet dérivé salutaire: <span style="color: rgb(233, 0, 0);">une combustion de bonne qualité n'a pas d'odeur </span>et n'est pas susceptible de génèrer des maux de tête comme avec des brûleurs et cheminées à l'éthanol de la première génération.</p>
	<div align="center">
		<img src="{{ asset('img/Securite/Qualite-de-combustion.jpg') }}" alt="schéma explicatif qualité de combustion"/>
	</div>
	<p>Sur le schéma ci-dessus, on comprend que dans un brûleur&nbsp;de première génération, au fur et à mesure que l'éthanol descend dans le réservoir l'oxygène a de plus en plus de mal à alimenter la combustion à sa surface.</p>
	<p>Avec le brûleur bio-éthanol SPARXS, l'éthanol est pompé régulièrement vers la zone de combustion à proximité de la surface et l'oxygène ambiant alimente correctement la combustion.</p>
	<p>Le système à injection Sparxs permet d'avoir des flammes plus hautes et plus belles puisque la base des flammes reste au niveau haut pendant toute la flambée.</p>
</div>

{% endblock %}