{% extends 'SpxMainBundle:Default:links.html.twig' %}

{% block title %}Nos Produits, brûleurs topdec, topdec XL et topdec XXL{% endblock %}

{% block header %}Nos Produits{% endblock %}

{% block menu %}
<li id="navbar-topdec"><a href="{{ path('spx_main_produits', {'modele' : 'topdec' }) }}">Modèle Topdec</a></li>
<li id="navbar-topdec-xl"><a href="{{ path('spx_main_produits', {'modele' : 'topdec-xl' }) }}">Modèle Topdec XL</a></li>
<li id="navbar-topdec-xxl"><a href="{{ path('spx_main_produits', {'modele' : 'topdec-xxl' }) }}">Modèle Topdec XXL</a></li>
<li id="navbar-recharges"><a href="{{ path('spx_main_produits', {'modele' : 'recharges' }) }}">Recharges</a></li>
{% endblock %}