{% extends 'SpxMainBundle:Produits:produits.html.twig' %}

{% block modele %}

<h2>Sparxs annonce le lancement de son bloc de combustion Topdeck "XL"</h2>
<h3>Tous les avantages, la sécurité et les fonctionnalités du best-seller Topdeck avec une largeur de flamme extra large augmentée de 60%</h3>
<div align="center">
	<img src="{{ asset('img/Produits/Topdec-xl.jpg') }}" alt"topdec extra large">
</div>
<h4>Design épuré:</h4>
<ul>
	<li>le bloc de combustion bio-éthanol TOPDEC XL s'intègre"flush", c'est à dire affleurant au niveau de la structure le recevant</li>
	<li>sa flamme se reflète sur le capot avant prenant ainsi une consistence accrue, unaniment reconnue comme la plus belle  du marché des cheminées bio-éthanol (voir videos dans "Habillages")</li>
</ul>
<h4>Grande simplicité d'utilisation</h4>
<ul>
	<li>Le réservoir amovible permet un remplissage à distance du bio-éthanol à la fois plus aisé et sans risque de débordement à proximité du foyer</li>
	<li>Les commandes et indications d'état de l'appareil sont accessibles par la combinaison de 2 bouton-poussoirs lumineux bicolores</li>
	<li>Pas de branchement:  fonctionnement basse consommation sur piles alcalines (autonomie de 30 flambées environ) ou piles rechargeables.</li>
	<li>Pour une utilisation encore plus aisée, possibilité de recharges d'éthanol pré-remplies en usine à usage unique</li>
</ul>
<h4>Sécurité sans compromis (+ d'info dans l'onglet SÉCURITÉ):</h4>
<ul>
	<li>le bloc de combustion pour cheminées bio-éthanol TOPDEC XL reprend tous les points de la norme de sécurité NF D35-386</li>
	<li>Le réservoir de bio-éthanol amovible est un avantage inconstestable du système Sparxs aussi bien en terme de sécurité qu'en terme de facilité d'utilisation</li>
</ul>

{% endblock %}