{% extends 'SpxMainBundle:Produits:produits.html.twig' %}

{% block modele %}

<div class="panneau_principal">
	<h2 style="margin-bottom: 20px">Le bloc de combustion  TOPDEC pour cheminée bio éthanol est le best-seller de la gamme SPARXS</h2>
	<div style="height: 252px; float: right; position: relative; width: 399px;">
		<img alt="bruleur ethanol" src="{{ asset('img/Produits/Habillage-a-fentes.jpg') }}" />
		<p align="center"><small>Topdec dans son habillage Loggia</small></p>
	</div>
	<h4>Design épuré:</h4>
	<ul>
		<li>le bloc de combustion bio-éthanol TOPDEC s'intègre"flush", c'est à dire affleurant au niveau de la structure le recevant</li>
		<li>sa flamme se reflète sur le capot avant prenant ainsi une consistence accrue, unaniment reconnue comme la plus belle  du marché des cheminées bio-éthanol (voir videos dans "Habillages")</li>
	</ul>
	<h4>Grande simplicité d'utilisation</h4>
	<ul>
		<li>Le réservoir de bio-éthanol amovible permet un remplissage à distance à la fois plus aisé et sans risque de débordement à proximité du foyer</li>
		<li>Les commandes et indications d'état de l'appareil sont accessibles par la combinaison de 2 bouton-poussoirs lumineux bicolores</li>
		<li>Pas de branchement:  fonctionnement basse consommation sur piles alcalines (autonomie de 30 flambées environ) ou piles rechargeables.</li>
		<li> Pour une utilisation encore plus aisée, possibilité de recharges d'éthanol pré-remplies en usine à usage unique</li>
	</ul>
	<h4>Sécurité sans compromis (+ d'info dans l'onglet SÉCURITÉ):</h4>
	<ul>
		<li>le bloc de combustion pour cheminées bio-éthanol TOPDEC a été certifié 100% conforme à la nouvelle norme de sécurité NF D35-386 par le Laboratoire National d'Essai  (organisme gouvernemental indépendant)</li>
		<li>Le réservoir de bio-éthanol amovible est un avantage inconstestable du système Sparxs aussi bien en terme de sécurité qu'en terme de facilité d'utilisation</li>
	</ul>
</div>

{% endblock %}